{
  "ConnectionStrings": {
    "DefaultConnection": "Server=tcp:<SERVER>.database.windows.net,1433;Initial Catalog=<DB>;User ID=<USER>;Password=<PASSWORD>;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
